[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipython = "*"
pyyaml = "*"
numpy = "*"
networkx = "*"
pandas = "*"
matplotlib = "*"
click = "*"
seaborn = "*"

[dev-packages]
pytest = "*"
pylint = "*"

[requires]
python_version = "3.8"
